body{ background-color:black;
 color:antiquewhite;
 margin:0;

}
h1{ font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
    height:60px;
    margin-top: 0px;
    background-size:cover;
    background-color: red;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}